<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.demo">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <!--<uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/MyTheme">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <activity android:name=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.TestViewActivity"
      android:label="分享">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="image/*" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.ShareAcivity"></activity>
    <activity android:name=".LogicOperation.TestLogicActivity" />
    <activity android:name=".activity.TestMarqueeActivity" />
    <activity android:name=".activity.TestViewGroupActivity" />
    <activity android:name=".activity.ScrollerLayoutActivity" />
    <activity android:name=".activity.CoverFlowActivity" />
    <activity android:name=".leakcanary.LeakAsyncTaskAndHandlerActivity" />
    <activity android:name=".leakcanary.Imm" />
    <activity
      android:name=".leakcanary.LeakImmActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    <!-- android:windowSoftInputMode="adjustResize|stateAlwaysHidden" -->
    <activity android:name=".dynamicload.ClassLoaderTest" />
    <activity android:name=".provider.TestProviderActivity"></activity>
    <activity android:name=".activity.SimpleNotificationActivity"></activity>
    <activity android:name=".matrix.MatrixDemo"></activity>
    <activity android:name=".activity.TestEventBusActivity"></activity>
    <activity android:name=".template.RhinoJSActivity"></activity>
    <activity android:name=".template.HouseTemplateActivity"></activity>
    <activity android:name="com.lianjia.recyclerview.ChoiceActivity"></activity>
    <activity android:name="com.lianjia.recyclerview.SimpleRecyclerViewActivity"></activity>
    <activity android:name="com.lianjia.recyclerview.HeaderRecyclerViewActivity"></activity>
    <activity android:name="com.lianjia.recyclerview.PaginationRecyclerViewActivity"></activity>
    <activity android:name=".webview.TestWebViewActivity"></activity>
    <activity android:name=".activity.TestDesignPatternActivity"></activity>

    <service
      android:name=".service.NotifyService"
      android:label="NotifyService"
      android:process=":remote1"></service>
    <service
      android:name=".service.CoreService"
      android:label="CoreService"
      android:process=":remote2"></service>
    <service
      android:name=".service.CoreUIService"
      android:label="CoreUIService"></service>

    <provider
      android:authorities="com.thedemo.demo.ServiceProvider"
      android:name="com.seasonfif.svcmanager.ServiceProvider"
      android:exported="true"/>
  </application>

</manifest>