<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo">

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <!--<uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

  <application
    android:name=".MyApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/MyTheme"
      tools:ignore="GoogleAppIndexingWarning">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version"/>

    <activity android:name=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.TestViewActivity"
      android:label="分享">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="image/*" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name=".activity.ShareAcivity"/>
    <activity android:name=".logic.TestLogicActivity" />
    <activity android:name=".activity.TestMarqueeActivity" />
    <activity android:name=".activity.TestViewGroupActivity" />
    <activity android:name=".activity.ScrollerLayoutActivity" />
    <activity android:name=".activity.CoverFlowActivity" />
    <activity android:name=".leakcanary.LeakAsyncTaskAndHandlerActivity" />
    <activity android:name=".leakcanary.Imm" />
    <activity
      android:name=".leakcanary.LeakImmActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
    <!-- android:windowSoftInputMode="adjustResize|stateAlwaysHidden" -->
    <activity android:name=".dynamicload.ClassLoaderTest" />
    <activity android:name=".provider.TestProviderActivity"/>
    <activity android:name=".activity.SimpleNotificationActivity"/>
    <activity android:name=".matrix.MatrixDemo"/>
    <activity android:name=".activity.TestEventBusActivity"/>
    <activity android:name=".template.RhinoJSActivity"/>
    <activity android:name=".template.HouseTemplateActivity"/>
    <activity android:name="com.lianjia.recyclerview.ChoiceActivity"/>
    <activity android:name="com.lianjia.recyclerview.SimpleRecyclerViewActivity"/>
    <activity android:name="com.lianjia.recyclerview.HeaderRecyclerViewActivity"/>
    <activity android:name="com.lianjia.recyclerview.PaginationRecyclerViewActivity"/>
    <activity android:name=".webview.TestWebViewActivity"/>
    <activity android:name=".activity.TestDesignPatternActivity"/>
    <activity android:name=".activity.TestDNSActivity"/>
    <activity android:name=".activity.TestCronetActivity"/>
    <activity android:name=".activity.TestQueueActivity"/>
      <activity android:name=".activity.TestRamUsageActivity" />
    <activity android:name=".activity.TestMacActivity" />

    <service
      android:name=".service.NotifyService"
      android:label="NotifyService"
      android:process=":remote1"/>
    <service
      android:name=".service.CoreService"
      android:label="CoreService"
      android:process=":remote2"/>
    <service
      android:name=".service.CoreUIService"
      android:label="CoreUIService"/>

    <provider
      android:authorities="com.thedemo.demo.ServiceProvider"
      android:name="com.seasonfif.svcmanager.ServiceProvider"
      android:exported="true"/>
  </application>

</manifest>