<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${label}"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestViewActivity" android:label="分享">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
          </activity>
      <activity android:name=".activity.ShareAcivity" >

      </activity>
      <activity android:name=".leakcanary.TestLeakCanary" />
      <activity android:name=".LogicOperation.TestLogicActivity" />
        <activity android:name=".activity.TestMarqueeActivity" />
        <activity android:name=".activity.TestViewGroupActivity" />
        <activity android:name=".leakcanary.LeakAsyncTaskAndHandlerActivity" />
        <activity android:name=".leakcanary.Imm"/>
        <activity android:name=".leakcanary.LeakImmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <!--android:windowSoftInputMode="adjustResize|stateAlwaysHidden"-->
    </application>

</manifest>